.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 3rem; }
  @media only screen and (min-width: 768px) {
    .u-margin-bottom-big {
      margin-bottom: 8rem; } }

.nodisplay {
  display: none; }

@media only screen and (max-width: 767px) {
  .min_nodisplay {
    display: none; } }

@media only screen and (min-width: 768px) {
  .min_display {
    display: none; } }

.margin {
  margin: 0 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 0rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-of-1 {
    width: calc(100% - 0rem); }
  @media only screen and (min-width: 768px) {
    .row .col-1-of-2 {
      width: calc((100% - 0rem) / 2); } }
  @media only screen and (min-width: 768px) {
    .row .col-1-of-3 {
      width: calc((100% - 2 * 0rem) / 3); } }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 0rem) / 3) + 0rem); }
  @media only screen and (min-width: 768px) {
    .row .col-1-of-4 {
      width: calc((100% - 2 * 0rem) / 2); } }
  @media only screen and (min-width: 992px) {
    .row .col-1-of-4 {
      width: calc((100% - 3 * 0rem) / 4); } }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 0rem) / 4) + 0rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 0rem) / 4) + 2 * 0rem); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 0rem) / 5); }

/*  UWAGA Dzieli 4 na 2 po 2
.col-1-of-4 {
    @media only screen and (max-width: 767px) {
        width: calc((100% - 2 * 0rem) / 2);
    }

    @media only screen and (min-width: 768px) {
        width: calc((100% - 3 * 0rem) / 4);
    }
}

*/
